.dashboard-card{
     width: 85%;
  margin-left: 5%;
  margin-top: 2%;
  height: 85%;

}

.header{
    width: 100%;
    height: 10%;
    border: solid black 1px;
}

.appraisee{
    width: 31%;
    height: 75%;
    border: solid black 1px;
    float: left;
   
}

.body{
    width: 65%;
    height: 75%;
    border: solid black 1px;
    float: left;
    margin-left: 55px;
}