.mat-form-field {
  margin-top: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-card {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.KRAmat-card{
  width: 90%;
  margin-left: 3.5%;

  margin-top: 2%;
  margin-bottom: 2%;

}

.KRA{
  max-height: 500px;
  overflow: auto;
} 

.reviewKRA{
  max-height: 400px;
  overflow: auto;
} 

.pp ul li{
 display: inline;
 margin: 100px;
}

.form-td {
  width: 310px; 
  margin-top: 1px;
  height: 80px; 
  padding: 2px; 
  margin-left: 5px;
   
}

