<mat-card class="mat-card">

<mat-horizontal-stepper #stepper>
    
    <mat-step [stepControl]="personalInformation" errorMessage="Name is required.">
        <form [formGroup]="personalInformation">
            <ng-template matStepLabel>Personal Information</ng-template>

       

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input matInput [readonly]="'True'">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Surname</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Other</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>


                <tr>
                    <td>
                       
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Position</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let _position of position" [value]="_position.value">
                                    {{_position.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </td>
                    <td>
                            
                        <mat-form-field appearance="fill" class="example-full-width"> 
                            <mat-label>Departments</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let _department of departments" [value]="_department.value">
                                    {{_department.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </td>


                    <td>
                    
                        <mat-form-field appearance="fill" class="example-full-width" style="margin-top: 0px;">
                            <mat-label>Appointment Date</mat-label>
                            <input matInput [matDatepicker]="picker1">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    
                    
                    
                    </td>
                
                </tr>


                
                    
                



            </table>



                 <form [formGroup]="trainingRForm" class="container mt-3">
            <!-- <ng-template matStepLabel>Performance Planning</ng-template> -->
        
            <div class="row justify-content-center">
                <div class="col-6">
            
                
                   
                  
                    
            
                    <section class="container border mb-4 p-3" formArrayName="trainingArray"
                        *ngFor="let trainingResult of keyTrainingtControl let i = index;">

                        <div [formGroupName]="i">
                

                            <table class="example-full-width" cellspacing="0">
                               
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Training Institution</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="institution" />
                                        </mat-form-field>
                                    </td>
                                    <td>

                                        
                                        <mat-form-field appearance="fill" class="example-full-width" style="margin-top: 0px;">
                                            <mat-label>Date</mat-label>
                                            <input matInput [matDatepicker]="picker2">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 ></mat-datepicker>
                                        </mat-form-field>

                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Programme</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="program" />
                                        </mat-form-field>
                                    </td>
                                </tr>

                            </table>   

<div>

    <div class="col-6 text-right" style="float:left;">
        <button mat-raised-button type="button" color="primary" class="btn btn-primary mb-2"
            (click)="addTraining() ">Add </button>
    </div>

    <div class="col-6 text-right" style="float:right;">
        <button mat-raised-button type="button" color="warn" class="btn btn-danger btn-sm"
            (click)="removeTraining(i)">Remove</button>
    
    </div>

</div>


                           
                            
                           
                        </div>

            
                    </section> 
            
            
            
            
                </div>
            
            
            </div>

            
    
            <br><br>
            <div style="position: absolute; left: 45%;">
                
                
                    <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 10px;" >Back</button>

                
                    <button mat-raised-button color="primary" matStepperNext style="margin-left: 10px;" >Next</button>
                

            </div>

        </form>






         
        </form>
    </mat-step>

    <mat-step [stepControl]="performancePlanning" errorMessage="Performance planning is required">
        <form [formGroup]="performancePlanning" class="container mt-3">
            <ng-template matStepLabel>Performance Planning</ng-template>
        
            <div class="row justify-content-center">
                <div class="col-6">
            
                
                   
                  
                    
            
                    <section class="container border mb-4 p-3" formArrayName="keyAreaFormArray"
                        *ngFor="let keyResults of keyResultControl; let i = index;">

                        <div [formGroupName]="i">
                

                            <table class="example-full-width" cellspacing="0">
                               
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Key Results Area</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="keyResultsArea" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Targets</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="targets" />
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Resources</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="resourcesRequired" />
                                        </mat-form-field>
                                    </td>
                                </tr>

                            </table>   

<div>

    <div class="col-6 text-right" style="float:left;">
        <button mat-raised-button type="button" color="primary" class="btn btn-primary mb-2"
            (click)="addPerformancePlanning() ">Add </button>
    </div>

    <div class="col-6 text-right" style="float:right;">
        <button mat-raised-button type="button" color="warn" class="btn btn-danger btn-sm"
            (click)="removePerformancePlanning(i)">Remove</button>
    
    </div>

</div>


                           
                            
                           
                        </div>

            
                    </section> 
            
            
            
            
                </div>
            
            
            </div>

            
    
            <br><br>
            <div style="position: absolute; left: 45%;">
                
                
                    <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 10px;" >Back</button>

                
                    <button mat-raised-button color="primary" matStepperNext style="margin-left: 10px;" >Next</button>
                

            </div>

        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>

        <br><br>

        <div style="position: absolute; left: 45%;">
            

                <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 10px;" >Back</button>
            

            
                <button mat-raised-button color="primary" (click)="stepper.reset()" style="margin-left: 10px;"  >Reset</button>
            
           

            
        </div>
    </mat-step>
</mat-horizontal-stepper>

</mat-card>