.mat-form-field {
  margin-top: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-card {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.KRAmat-card{
  width: 90%;
  margin-left: 3.5%;

  margin-top: 2%;
  margin-bottom: 2%;

}

.KRA{
  max-height: 500px;
  overflow-y: auto;
}